@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}
/* global styles */
.buy-btn {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 14px 20px;
  border-radius: 6px;
}
.buy-btn:hover {
  color: #fff;
  box-shadow: 1px 1px 8px 2px #000000;
  transition: all 0.5s;
}
/* Hero section */
.slide1 {
  background-color: #feeae9;
  border-radius: 10px;
}
.carousel-item h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 84px;
}

.carousel-item h3 {
  font-weight: 500;
  font-size: 41px;
  line-height: 61px;
  color: #ff136f;
}
.carousel-item .buy-btn {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  margin-top: 15px;
}

.slide2 {
  background-color: #fcd6e5;
}
.slide3 {
  background-color: #c4d9fc;
}

@media (max-width: 991px) {
  .carousel-item h2 {
    font-size: 40px;
  }
}
